@page "/admin"
@attribute [Authorize(Roles = nameof(Roles.Administrator))]
@using Blazorise.DataGrid;
@using PortfolioShared.ViewModels.Request
@using PortfolioShared.ViewModels.Response
@using PortfolioShared.Models
@using IdentityModel.Client
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PortfolioSite.Shared.Localization
@inject IStringLocalizer<Admin> localizer
@inject IStringLocalizer<TableControls> tableControlsLocalizer
@inject IHttpClientFactory httpFactory
@inject IAccessTokenProvider tokenProvider
@inject AuthenticationStateProvider authenticationStateProvider
<PageTitle>@localizer["Title"]</PageTitle>
<Container>
	<Grid Columns="GridColumns.Are1.OnMobile.Are3.OnDesktop" Gap="Gap.Is0.OnY">
		<Field>
			<Validation Validator="ValidationRule.IsNotEmpty">
				<TextEdit Placeholder=@localizer["FieldEmail"] @bind-Text="@email" />
			</Validation>
		</Field>
		<Field>
			<Validation Validator="ValidationRule.IsNotEmpty">
				<TextEdit Placeholder=@localizer["FieldPassword"] @bind-Text="@password" />
			</Validation>
		</Field>
		<Field>
			<Select TValue="string" @bind-SelectedValue="@role">
				<SelectItem Value="@Roles.Dean.ToString()">@Roles.Dean.ToString()</SelectItem>
				<SelectItem Value="@Roles.Deputy.ToString()">@Roles.Deputy.ToString()</SelectItem>
				<SelectItem Value="@Roles.Teacher.ToString()">@Roles.Teacher.ToString()</SelectItem>
			</Select>
		</Field>
		<Field>
			<Select TValue="Guid" @bind-SelectedValue="@departmentId">
				@foreach (var faculty in requestFacultyDepartments)
				{
					<SelectGroup Label="@faculty.Name">
						@foreach (var department in faculty.Departments)
						{
							<SelectItem Value="@department.Id">@department.Name</SelectItem>
						}
					</SelectGroup>
				}
			</Select>
		</Field>
	</Grid>
	<Button Color="Color.Success" Clicked="@AddNewUser">@localizer["SaveChangesButton"]</Button>
</Container>
<SnackbarStack @ref="@snackbarStack" DefaultInterval="3000.0" Location="SnackbarStackLocation.BottomEnd" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraLarge" />
@code {
	SnackbarStack snackbarStack;
	List<RequestFacultyDepartment> requestFacultyDepartments;
	HttpClient webapi;
	HttpClient identityapi;
	Guid guid;
	string email = "Abob2@yandex.ru";
	string password = "12345";
	string role = Roles.Dean.ToString();
	Guid departmentId;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		webapi = httpFactory.CreateClient("PortfolioServer");
		identityapi = httpFactory.CreateClient("IdentityServer");
		AccessTokenResult accessTokenResult = await tokenProvider.RequestAccessToken();
		AccessToken accessToken;
		accessTokenResult.TryGetToken(out accessToken);
		identityapi.SetBearerToken(accessToken.Value);
		var state = await authenticationStateProvider.GetAuthenticationStateAsync();
		if (Guid.TryParse(state.User.FindFirstValue("sub"), out guid))
		{
			requestFacultyDepartments = await webapi.GetFromJsonAsync<List<RequestFacultyDepartment>>($"Faculty/GetWithDepartment");
			departmentId = requestFacultyDepartments.First().Departments.First().Id;
		}
	}
	private async void AddNewUser()
	{
		JsonContent js = JsonContent.Create(new RequestAddUser(){ Email = email, Password = password, Role = role, DepartmentId = departmentId });
		HttpResponseMessage httpResponse = await identityapi.PostAsync($"User/Add", js);
		if (httpResponse.IsSuccessStatusCode)
			snackbarStack.PushAsync(tableControlsLocalizer["InsertRowNotification"], SnackbarColor.Success);
		else
			snackbarStack.PushAsync(tableControlsLocalizer["ErrorRowNotification"], SnackbarColor.Danger);
	}
}