@page "/Disciplines"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Portfolio.Application.ViewModels.Response
@inject IStringLocalizer<Disciplines> localizer
@inject IHttpClientFactory httpFactory
@inject AuthenticationStateProvider authenticationStateProvider
<PageTitle>@localizer["Title"]</PageTitle>
<Heading TextAlignment="TextAlignment.Center">@localizer["Title"]</Heading>
	<Container>
	<ListView TItem="ResponseDiscipline"
			  Data="@userDisciplines"
			  TextField="(item) => item.Name"
			  ValueField="(item) => item.Id.ToString()"
			  Mode="ListGroupMode.Selectable"
			  Height="300px"
			  @bind-SelectedItem="@userDisciplineSelectedItem">
	</ListView>
	<SelectList TItem="@ResponseDiscipline"
				TValue="Guid"
				Data="@disciplines"
				TextField="@((item)=>item.Name)"
				ValueField="@((item)=>item.Id)"
				@bind-SelectedValue="@selectedValue" />
		<Button Margin="Margin.Is3.OnY" Color="Color.Success" Clicked="@AddDiscipline">@localizer["AddDisciplineButton"]</Button>
		<Button Margin="Margin.Is3.OnY" Color="Color.Success" Clicked="@DeleteDiscipline">@localizer["RemoveDisciplineButton"]</Button>
	</Container>
	@code {
	HttpClient webapi;
	Guid guid;
	Guid selectedValue;
	ResponseDiscipline? selectedDiscipline;
	List<ResponseDiscipline>? disciplines;
	List<ResponseDiscipline>? userDisciplines;
	ResponseDiscipline? userDisciplineSelectedItem;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		webapi = httpFactory.CreateClient("PortfolioServer");
		var state = await authenticationStateProvider.GetAuthenticationStateAsync();
		if (Guid.TryParse(state.User.FindFirstValue("sub"), out guid))
			userDisciplines = await webapi.GetFromJsonAsync<List<ResponseDiscipline>>($"Teacher/{guid.ToString()}/GetDiscipline");
		disciplines = await webapi.GetFromJsonAsync<List<ResponseDiscipline>>("Discipline/Get");
		disciplines = disciplines.Except(userDisciplines).ToList();
		if (disciplines.Count > 0)
			selectedValue = disciplines.First().Id;
	}
	private void AddDiscipline()
	{
		if (disciplines.Count > 0)
		{
			selectedDiscipline = disciplines.Single(x => x.Id == selectedValue);
			userDisciplines.Add(selectedDiscipline);
			disciplines.Remove(selectedDiscipline);
			webapi.PostAsync($"Teacher/{guid.ToString()}/AddDiscipline/{selectedValue}", null);
			if (disciplines.Count > 0)
				selectedValue = disciplines.First().Id;
		}
	}
	private void DeleteDiscipline()
	{
		if (userDisciplines.Count > 0)
		{
			if (userDisciplineSelectedItem is null)
				return;
			userDisciplines.Remove(userDisciplineSelectedItem);
			if (!disciplines.Contains(userDisciplineSelectedItem))
				disciplines.Add(userDisciplineSelectedItem);
			webapi.DeleteAsync($"Teacher/{guid.ToString()}/DeleteDiscipline/{userDisciplineSelectedItem.Id}");
			userDisciplineSelectedItem = userDisciplines.FirstOrDefault();
			if (disciplines.Count > 0)
				selectedValue = disciplines.First().Id;
		}
	}
}
