@page "/Publication"
@using PortfolioShared.ViewModels.Request;
@using Blazorise.DataGrid;
@using PortfolioSite.Shared.Localization;
@inject IStringLocalizer<TableControls> tableControlsLocalizer
@inject IStringLocalizer<Publication> localizer
@inject IHttpClientFactory httpFactory
@inject AuthenticationStateProvider authenticationStateProvider
<PageTitle>@localizer["Title"]</PageTitle>
<Heading TextAlignment="TextAlignment.Center">@localizer["Title"]</Heading>
<DataGrid TItem="@RequestPublication"
		  Data="@userPublications"
		  Editable
		  Responsive
		  ShowPager
		  ShowPageSizes
		  Filterable
		  FilterMode="DataGridFilterMode.Menu"
		  UseValidation
		  ValidationsHandlerType="ValidationHandlerType.DataAnnotation"
		  Navigable
		  PagerOptions="@(new() {PaginationPosition = PagerElementPosition.Center})"
		  EditMode="DataGridEditMode.Cell"
		  RowInserted="OnRowInserted"
		  RowUpdated="OnRowUpdated"
		  RowRemoved="OnRowDeleted"
		  @ref="@dataGrid">
	<DataGridColumns>
		<DataGridColumn Field="@nameof(RequestPublication.Name)" Caption="@localizer["TableColumnName"]" Editable />
		<DataGridColumn Field="@nameof(RequestPublication.Form)" Caption="@localizer["TableColumnForm"]" Editable />
		<DataGridColumn Field="@nameof(RequestPublication.OutputData)" Caption="@localizer["TableColumnOutputData"]" Editable />
		<DataGridNumericColumn Field="@nameof(RequestPublication.Size)" Caption="@localizer["TableColumnSize"]" Editable />
		<DataGridColumn Field="@nameof(RequestPublication.CoAuthor)" Caption="@localizer["TableColumnCoAuthor"]" Editable />
		<DataGridCommandColumn>
			<NewCommandTemplate>
				<Button Color="Color.Success" Clicked="@context.Clicked"><Icon Name="IconName.PlusSquare" IconSize="IconSize.Large" /></Button>
			</NewCommandTemplate>
			<EditCommandTemplate>
				<Button Color="Color.Primary" Clicked="@context.Clicked"><Icon Name="IconName.Pen" IconSize="IconSize.Large" /></Button>
			</EditCommandTemplate>
			<DeleteCommandTemplate>
				<Button Color="Color.Danger" Clicked="@context.Clicked"><Icon Name="IconName.Delete" IconSize="IconSize.Large" /></Button>
			</DeleteCommandTemplate>
			<SaveCommandTemplate>
				<Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked"><Icon Name="IconName.Save" IconSize="IconSize.Large" /></Button>
			</SaveCommandTemplate>
			<CancelCommandTemplate>
				<Button Color="Color.Secondary" Clicked="@context.Clicked"><Icon Name="IconName.Times" IconSize="IconSize.Large" /></Button>
			</CancelCommandTemplate>
		</DataGridCommandColumn>
	</DataGridColumns>
	<NextPageButtonTemplate><Icon Name="IconName.StepForward" /></NextPageButtonTemplate>
	<PreviousPageButtonTemplate><Icon Name="IconName.StepBackward" /></PreviousPageButtonTemplate>
	<LastPageButtonTemplate><Icon Name="IconName.Forward" /></LastPageButtonTemplate>
	<FirstPageButtonTemplate><Icon Name="IconName.Backward" /></FirstPageButtonTemplate>
	<TotalItemsTemplate><Badge>@context.TotalItems total items</Badge></TotalItemsTemplate>
	<TotalItemsShortTemplate><Badge>@context.TotalItems</Badge></TotalItemsShortTemplate>
	<ItemsPerPageTemplate></ItemsPerPageTemplate>
	<TotalItemsTemplate><Badge Color="Color.Success">@context.TotalItems</Badge></TotalItemsTemplate>
    <TotalItemsShortTemplate><Badge Color="Color.Success">@context.TotalItems</Badge></TotalItemsShortTemplate>
</DataGrid>
<SnackbarStack @ref="@snackbarStack" DefaultInterval="3000.0" Location="SnackbarStackLocation.BottomEnd" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraLarge"/>
@code {
	SnackbarStack snackbarStack;
	HttpClient webapi;
	Guid guid;
	List<RequestPublication>? userPublications;
	DataGrid<RequestPublication> dataGrid;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		webapi = httpFactory.CreateClient("PortfolioServer");
		var state = await authenticationStateProvider.GetAuthenticationStateAsync();
		if (Guid.TryParse(state.User.FindFirstValue("sub"), out guid))
			userPublications = await webapi.GetFromJsonAsync<List<RequestPublication>>($"Teacher/{guid.ToString()}/GetPublication");
	}
	private void OnRowInserted(SavedRowItem<RequestPublication, Dictionary<string, object>> e)
	{
		JsonContent jc = JsonContent.Create<RequestPublication>(e.NewItem);
		webapi.PostAsync($"Teacher/{guid.ToString()}/AddPublication", jc);
		snackbarStack.PushAsync(tableControlsLocalizer["InsertRowNotification"], SnackbarColor.Success);
	}
	private void OnRowUpdated(SavedRowItem<RequestPublication, Dictionary<string, object>> e)
	{
		JsonContent jc = JsonContent.Create<RequestPublication>(e.NewItem);
		webapi.PutAsync($"Teacher/{guid.ToString()}/UpdatePublication", jc);
		snackbarStack.PushAsync(tableControlsLocalizer["UpdateRowNotification"], SnackbarColor.Warning);
	}
	private void OnRowDeleted(RequestPublication e)
	{
		webapi.DeleteAsync($"Teacher/{guid.ToString()}/DeletePublication/{e.Id}");
		snackbarStack.PushAsync(tableControlsLocalizer["RemoveRowNotification"], SnackbarColor.Danger);
	}
}