@page "/Work"
@using Portfolio.Application.ViewModels.Request;
@using Blazorise.DataGrid;
@using PortfolioSite.Shared.Localization;
@inject IStringLocalizer<TableControls> tableControlsLocalizer
@inject IStringLocalizer<Work> localizer
@inject IHttpClientFactory httpFactory
@inject AuthenticationStateProvider authenticationStateProvider
<PageTitle>@localizer["Title"]</PageTitle>
<Heading TextAlignment="TextAlignment.Center">@localizer["Title"]</Heading>
<DataGrid TItem="@RequestWork"
		  Data="@userWorks"
		  Editable
		  Responsive
		  ShowPager
		  ShowPageSizes
		  Filterable
		  FilterMode="DataGridFilterMode.Menu"
		  UseValidation
		  ValidationsHandlerType="ValidationHandlerType.DataAnnotation"
		  Navigable
		  PagerOptions="@(new() {PaginationPosition = PagerElementPosition.Center})"
		  EditMode="DataGridEditMode.Cell"
		  RowInserted="OnRowInserted"
		  RowUpdated="OnRowUpdated"
		  RowRemoved="OnRowDeleted"
		  @ref="@dataGrid">
	<DataGridColumns>
		<DataGridColumn Field="@nameof(RequestWork.Name)" Caption="@localizer["TableColumnName"]" Editable />
		<DataGridColumn Field="@nameof(RequestWork.Post)" Caption="@localizer["TableColumnPost"]" Editable />
		<DataGridDateColumn Field="@nameof(RequestWork.BeginTimeWork)" Caption="@localizer["TableColumnBeginTimeWork"]" Editable SortField="@nameof(RequestWork.BeginTimeWork)" SortDirection="SortDirection.Ascending" />
		<DataGridDateColumn Field="@nameof(RequestWork.EndTimeWork)" Caption="@localizer["TableColumnEndTimeWork"]" Editable />
		<DataGridCommandColumn>
			<NewCommandTemplate>
				<Button Color="Color.Success" Clicked="@context.Clicked"><Icon Name="IconName.PlusSquare" IconSize="IconSize.Large" /></Button>
			</NewCommandTemplate>
			<EditCommandTemplate>
				<Button Color="Color.Primary" Clicked="@context.Clicked"><Icon Name="IconName.Pen" IconSize="IconSize.Large" /></Button>
			</EditCommandTemplate>
			<DeleteCommandTemplate>
				<Button Color="Color.Danger" Clicked="@context.Clicked"><Icon Name="IconName.Delete" IconSize="IconSize.Large" /></Button>
			</DeleteCommandTemplate>
			<SaveCommandTemplate>
				<Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked"><Icon Name="IconName.Save" IconSize="IconSize.Large" /></Button>
			</SaveCommandTemplate>
			<CancelCommandTemplate>
				<Button Color="Color.Secondary" Clicked="@context.Clicked"><Icon Name="IconName.Times" IconSize="IconSize.Large" /></Button>
			</CancelCommandTemplate>
		</DataGridCommandColumn>
	</DataGridColumns>
	<NextPageButtonTemplate><Icon Name="IconName.StepForward" /></NextPageButtonTemplate>
	<PreviousPageButtonTemplate><Icon Name="IconName.StepBackward" /></PreviousPageButtonTemplate>
	<LastPageButtonTemplate><Icon Name="IconName.Forward" /></LastPageButtonTemplate>
	<FirstPageButtonTemplate><Icon Name="IconName.Backward" /></FirstPageButtonTemplate>
	<TotalItemsTemplate><Badge>@context.TotalItems total items</Badge></TotalItemsTemplate>
	<TotalItemsShortTemplate><Badge>@context.TotalItems</Badge></TotalItemsShortTemplate>
	<ItemsPerPageTemplate></ItemsPerPageTemplate>
	<TotalItemsTemplate><Badge Color="Color.Success">@context.TotalItems</Badge></TotalItemsTemplate>
    <TotalItemsShortTemplate><Badge Color="Color.Success">@context.TotalItems</Badge></TotalItemsShortTemplate>
</DataGrid>
<SnackbarStack @ref="@snackbarStack" DefaultInterval="3000.0" Location="SnackbarStackLocation.BottomEnd" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraLarge"/>
@code {
	SnackbarStack snackbarStack;
	Validations validations;
	HttpClient webapi;
	Guid guid;
	string nameWork = string.Empty;
	string post = string.Empty;
	DateOnly beginTimeWork;
	DateOnly? endTimeWork;
	List<RequestWork>? userWorks;
	DataGrid<RequestWork> dataGrid;
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		webapi = httpFactory.CreateClient("PortfolioServer");
		var state = await authenticationStateProvider.GetAuthenticationStateAsync();
		if (Guid.TryParse(state.User.FindFirstValue("sub"), out guid))
			userWorks = await webapi.GetFromJsonAsync<List<RequestWork>>($"Teacher/{guid.ToString()}/GetWork");
	}
	private void OnRowInserted(SavedRowItem<RequestWork, Dictionary<string, object>> e)
	{
		JsonContent jc = JsonContent.Create<RequestWork>(e.NewItem);
		webapi.PostAsync($"Teacher/{guid.ToString()}/AddWork", jc);
		snackbarStack.PushAsync(tableControlsLocalizer["InsertRowNotification"], SnackbarColor.Success);
	}
	private void OnRowUpdated(SavedRowItem<RequestWork, Dictionary<string, object>> e)
	{
		JsonContent jc = JsonContent.Create<RequestWork>(e.NewItem);
		webapi.PutAsync($"Teacher/{guid.ToString()}/UpdateWork", jc);
		snackbarStack.PushAsync(tableControlsLocalizer["UpdateRowNotification"], SnackbarColor.Warning);
	}
	private void OnRowDeleted(RequestWork e)
	{
		webapi.DeleteAsync($"Teacher/{guid.ToString()}/DeleteWork/{e.Id}");
		snackbarStack.PushAsync(tableControlsLocalizer["RemoveRowNotification"], SnackbarColor.Danger);
	}
}