@page "/Work"
@inject IStringLocalizer<Work> localizer
<PageTitle>@localizer["Title"]</PageTitle>

	<Container>
		<Grid Columns="GridColumns.Are1" Gap="Gap.Is0.OnY">
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="Last Name" @bind-Text="@lastName" />
				</Validation>
			</Field>
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="First Name" @bind-Text="@firstName" />
				</Validation>
			</Field>
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="Middle Name" @bind-Text="@middleName" />
				</Validation>
			</Field>
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="Post" @bind-Text="@post" />
				</Validation>
			</Field>
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="Academic Degree" @bind-Text="@academicDegree" />
				</Validation>
			</Field>
			<Field>
				<Validation Validator="ValidationRule.IsNotEmpty">
					<TextEdit Placeholder="Academic Title" @bind-Text="@academicTitle" />
				</Validation>
			</Field>
			<Field>
				<DateEdit TValue="DateOnly?" @bind-Date="@dateBirthday" />
			</Field>
		</Grid>
		<Button Color="Color.Success" Clicked="@AddInfo">Save changes</Button>
	</Container>

@code {
	
}